body {
    font: 18px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    font-size: larger;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(241, 238, 238);
    border: 1px solid rgb(224, 156, 156);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: medium;
  }
  
  .kbd-navigation .square:focus {
    background: rgb(126, 119, 119);
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 30px;
  }
  